body {
	font-family: 'Molengo', serif;
}

h2 {
    font-size:28px;
    line-height:44px;
}

h3 {
    font-size:18px;
    line-height:22px;
}

#hd1 nav {
    margin: 0 auto;
    width:100%;
	height: 44px;
	background-color: black;
}

    #hd1 nav ul {
        width:960px;
        list-style:none;
        margin:0 auto;
    }

    #hd1 nav ul li {
        float:left;
    }

    #hd1 nav ul li a {
        display:block;
        margin: 0 10px 0px 10px;
        width:90px;
        font-size:16px;
        line-height:44px;
        text-decoration:none;
    }

#hd1 div#banner {
    background-image:url('../img/clover_henge.png');
	/* image is 920 x 250
	 * 250 = height 240px + padding 10px */
	height:240px; 
	padding-top:10px;
	width:920px;
    background-repeat:no-repeat;
	margin:0 auto;
}

#hd1 hgroup {
    margin-top:150px;
    height:90px;
    background-color:#000;
    position:relative;
    z-index:99;
    
    opacity:0.75;
}

    #hd1 hgroup h1 a {
        line-height:1em;
        margin-left:10px;
        text-decoration:none;
        font-family:Georgia, 'FreeSerif', serif;
        font-size:48px;
        font-weight:400;
        color:#FFF;
        padding:0;
    }

    #hd1 hgroup h2 {
        margin-left:10px;
        margin-top:-10px;
        font-size:18px;
        line-height:0;
        padding:0;
    }

.blogPost img {
    box-shadow:3px 3px 7px #777;
    margin:22px 0;
}

#content {
    position:relative;
    display:table;
    width:920px;
    margin-top:270px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    padding:0;
}

    #mainContent {
        display:table-cell;
        padding-right:22px;
    }

    aside#sidebar {
        display:table-cell;
        padding-left:10px;
    }
	
	aside section {
		width: 300px;
	}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}


#hd1 h2, #ft1 h3
{
    color:#cade58;
}

#hd1, #hd1 a, #ft1, #ft1 a
{
    color:#C1BCAC;
}

#content a {
    color: #229955;
}
#content h1, #content h2, #content h3,#content h4, #content h5, #content h6, #content legend {
    color: #229955;
    border-bottom: 1px solid #229955;
}

abbr {
    border:none;
}

#hd1 nav ul li a:hover,#hd1 nav ul li.selected a {
    color:#fff;
}

#hd1 ,#ft1 {
    position:absolute;
    left:0;
    width:100%;
    background:#222;
}

#hd1 { top: 0; }

footer#ft1 div {
    display: table;
    margin: 0 auto;
    width: 920px;
}

footer#ft1 div section {
    display: table-cell;
    width: 300px;
}

footer#ft1 div #about, footer#ft1 div #blogroll {
    padding-right: 20px;
}

span.amp {
    font-family: "Palatino", "Constantia", "Palatino Linotype", serif;
    font-style: italic;
}

img.left {
	margin: 0 1.5em 1em 0;
}

img.right {
	margin: 0 0 .75em 1em;
	display: inline;
	float: right;
}

img.self {
	border: none;
	padding: 0;
	margin: 0;
	margin-top: -15px;
	margin-left: 30px;
	height: 275px;
}

.section-listing ol {
	list-style-type: none;
}

.section-listing ol li {
	float: left;
	width: 281px;
	height: 150px;
	margin: 0;
	text-align: center;
}

.section-listing ol li:nth-child(odd) {
	margin-right: 25px;
}

.section-listing ol li:nth-child(even) {
	margin-left: 25px;
}

.section-listing ol li a {
	font: normal 23px/32px 'Droid Sans', serif;
	color: #222;
	display: block;
}

.section-listing ol li span.snip 
{
	font-size: 18px;
	color: #333;
	line-height: 25px;
	font-style: italic;
}
