# Hyde Trunk requirements
#argparse
#commando
#jinja2
#markdown
#pyyaml
#pygments
#smartypants
#-e git://github.com/hyde/typogrify.git#egg=typogrify

-e git://github.com/hyde/hyde.git#egg=hyde

# Site specific plugins
pytz

# For site automation
fabric

