{% block footer %}
            <div class="">
				<section id="about" class="column first unitx3"> 
					<h3>About</h3> 
					<p>
					This is my beta site and will soon replace my main
					site (which has been going up and down quite a bit
					lately). This site uses HTML5, so there may be some
					rendering issues if you use an older browser. I recommend
					Google Chrome, Safari, or Firefox 4. (Sorry, I can't 
					<em>ever</em> recommend any version of MSIE)
					</p> 
					<p>
					I'm much more of a technical kinda guy, so if you
					have some input to make this site more pleasing
					to the eye, please send it my way!
					</p>
					<p>You can find more on the 
					<a href="/about/">About</a> page.</p>
                </section> 
                <section id="blogroll" class="column unitx2"> 
                    <h3>Blogroll</h3> 
                    <p>
                    Friends and blogs that I follow:
                        <ul> 
                            <li><a href="http://twitter.com/jkuss" rel="friend met">@jkuss</a></li>
                            <li><a href="#">NETTUTS+</a></li> 
                            <li><a href="#">FreelanceSwitch</a></li> 
                            <li><a href="#">In The Woods</a></li> 
                            <li><a href="#">Netsetter</a></li> 
                            <li><a href="#">PSDTUTS+</a></li> 
                        </ul> 
                    </p>
                </section> 
                <section id="popular" class="column unitx3"> 
                    <h3>Popular</h3> 
                    <p>
                    Most popular on the site (updated daily):
                        <ul> 
                            <li><a href="#">This is the title of a blog post</a></li> 
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li> 
                            <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li> 
                            <li><a href="#">Duis aute irure dolor</a></li> 
                            <li><a href="#">Excepteur sint occaecat cupidatat</a></li> 
                            <li><a href="#">Reprehenderit in voluptate velit</a></li> 
                            <li><a href="#">Officia deserunt mollit anim id est laborum</a></li> 
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li> 
                        </ul> 
                        <span> <img src="/media/img/hacker.png" alt="Hacker Powered" /></span> 
                    </p>
                </section> 
            </div>
{% endblock %}
