{% extends "skeleton/_base.html"%}

{% block content %}
    <section class="column first width4">
	{% for node in page.node.walk reversed %}
	<!-- Node: {{ node }} -->
	<!-- Folder: {{ node.folder }} Depth: {{ node.folder.depth }} -->
	{% ifchanged node.folder.depth %}
        {% if node.folder.depth == 9 %}
            {% if not forloop.first %}
        </ol>
    </div>
    <br style="clear: both" />
            {% endif%}
    <h2>{{ node.folder.parent.name }}</h2>
    <div class="">
        <ol class="group">
        {% endif %}
	{% endifchanged %}

    {% include "skeleton/_innerlisting.html" %}

        {% if forloop.last %}
    </ol>
        {% endif %}
	{% endfor %}
	</ol>

    </section>
{% endblock %}


