
{%  if page.related %}
<section>
	<header>
	<h3>Related Pages</h3>
	</header>
	<ul>
		<li>
		<p><a href="http://nethedz.org/blog/">Personal Blog</a></p>
		</li>
		<li>
		<p><a href="http://twitter.com/dcode/">Twitter Feed</a></p>
		</li>
	</ul>
</section>
{% endif %}

