{% extends "skeleton/_base.html" %}
{% hyde
    title: "About"
%}

{% block content %}

{% filter typogrify %}
{% markdown %}

![{@class=self right}It's me](/media/img/self.jpg)

I'm Derek Ditch. I'm from **[Columbia, MO][columbia]**.  
I do a lot of different things.

If you want to get in touch with me you can 
[email me](mailto:derek.ditch@gmail.com) or find me on [BitBucket][], 
[GitHub][], or [Twitter][].

[columbia]: http://www.gocolumbiamo.com/
[Twitter]: http://twitter.com/dcode/
[BitBucket]: http://bitbucket.org/dcode/
[GitHub]: http://github.com/dcode/

<br style="clear: both">

Programming
-----------

[projects]: /projects/

Family
-----------

About the Site
-----------

This is currently my beta site. I forked the source from [Steve Losh][]'s
[BitBucket][sjl]. I am working on revamping it for my needs and desires.
There's not much here just yet, but I really like the static-site
generation that [Hyde][] provides. Stay tuned.

[Steve Losh]: http://stevelosh.com/
[sjl]: https://bitbucket.org/sjl/stevelosh/
[Hyde]: https://github.com/lakshmivyas/hyde/
{% endmarkdown %}
{% endfilter %}

{% endblock %}
