{% extends "_flatpage.j2" %}

---
    title: "Résumé"
    exclude: True
---

{% block article %}

I'm Derek. I'm a programmer from Columbia, MO. I graduated from 
[Missouri University of Science and Technology][mst] in 2008 with a 
Bachelor's of Science degree in [Computer Science][mstcs].

I'm currently working on a Ph.D., also from [Missouri S & T][mst]. As such,
I'm not currently looking for full-time employment, but I am always interested
in small freelance-type projects. That includes my latest open-source whim,
whatever that may be at the time.http://freenode.net/

You can certainly get a feel for who I am and how I think by looking at 
my [projects][] and [blog posts][]. Of course, there's always the [code][],
which speaks in black and white...or bits...depending on your rendering.

[mst]: http://mst.edu/
[mstcs]: http://www.cs.mst.edu/
[projects]: /projects/
[blog posts]: /blog/
[code]: https://github.com/dcode

## Skills & Interests

I'm passionate about programming. It may sound odd, but there are aspects of
programming that I find beautiful (in every sense of the word).

### Languages

My favorite programming language at the moment is [Python][]. It's elegant,
readable, powerful, and makes it easy to *get things done*.

I've also had experience with [C++][], [C][], [PHP][], [SQL][], [Java][],
[Lua][], [JavaScript][], [bash scripting][], [C#][], [Ruby][], and [Perl][]
...roughly in that order. I've used a number of markup and template 
languages, including [XHTML][], [XML][], [LaTeX][], [DocBook][], [CSS][], 
[JSON][], [Markdown][], [reStructured Text][rst], [Django][] templates, 
and [Jinja2][].


[Python]: http://www.python.org/
[C++]: http://en.wikipedia.org/wiki/C%2B%2B
[C]: http://en.wikipedia.org/wiki/C_(programming_language)
[PHP]: http://www.php.net/
[SQL]: http://en.wikipedia.org/wiki/SQL
[Java]: http://java.sun.com/
[Lua]: http://www.lua.org/
[JavaScript]: http://en.wikipedia.org/wiki/JavaScript
[bash scripting]: http://www.gnu.org/software/bash/
[C#]: http://en.wikipedia.org/wiki/C_Sharp_(programming_language)
[Ruby]: http://ruby-lang.org/
[Perl]: http://www.perl.org/

[XHTML]: http://www.w3.org/TR/xhtml1/
[XML]: http://www.w3.org/XML/
[LaTeX]: http://www.latex-project.org/
[DocBook]: http://www.docbook.org/
[CSS]: http://www.w3.org/TR/CSS/
[JSON]: http://www.json.org/
[Markdown]: {{links.markdown}}
[rst]: http://docutils.sourceforge.net/rst.html
[Django]: http://www.djangoproject.com/
[Jinja2]: http://jinja.pocoo.org/2/

### Web Development

For web development I gravitate toward [Python][]. This has led me many
times back to the [Django][] framework. Django makes much of the grunt work
out of working with Python in a web platform. I have also valued the
libraries created by the impressive [Pocoo][] team for the same reasons.

When it comes to any of my code, I hate writing anything that is 
difficult-to-maintain. So when it comes to even the simplest of webpages,
I prefer to use templates and modularize anything I may use more than once.
For this site, I am using [Hyde][] for static template rendering of the
content. I forked this code from [Steve Losh][sjl] and am continually
adapting it to my tastes.

When writing Javascript, I like to use [jQuery][] or [YUI][].

[Django]: {{links.django}}
[Pocoo]: http://www.pocoo.org/
[Hyde]: http://github.com/lakshmivyas/hyde
[sjl]: http://stevelosh.com/
[jQuery]: http://jquery.com/
[YUI]: http://developer.yahoo.com/yui/


### Version Control

I use version control for almost everything I do, from writing code for my
website to writing papers in LaTeX or DocBook.

In my personal work I use [Git][] (usually with [GitHub][]). I've also
worked with [Bazaar][], [Subversion][], and [Mercurial][].

[Mercurial]: {{links.mercurial}}
[GitHub]: https://github.com/
[Subversion]: http://subversion.tigris.org/
[CVS]: http://www.nongnu.org/cvs/
[Git]: http://git-scm.com/

### How I Work

For my personal work I use [Linux][]. At work, I primarily use [Mac OS X][],
and I primarily develop in (and prefer) UNIX-like environments. I have
worked in IT on the enterprise level with [Windows][], though it's a 
constant battle against inferior design :).

I use [vim][] or [Eclipse][] for coding, [CSSEdit][] when designing,
[Mercurial][] for version control, [t][] to manage my personal tasks, and
deploy through [SSH][] with [fabric][].

[Mac OS X]: http://www.apple.com/macosx/
[Eclipse]: http://eclipse.org/
[SSH]: http://en.wikipedia.org/wiki/Secure_Shell
[fabric]: {{links.fabric}}
[Linux]: http://www.linux.org/
[Windows]: http://www.microsoft.com/WINDOWS/
[vim]: http://www.vim.org/
[CSSEdit]: http://macrabbit.com/cssedit/
[t]: /projects/t/

## Personal Projects

You can find some of my pet projects on the [projects][] page.

I also have some rough code that I wrote for side projects and classes over
at [Google Code][gc]. I'll work on adding more detail here about specific
projects as this site matures.

[gc]: http://code.google.com/p/nethedz/

## Full-Time Work Experience

While an undergrad, I completed one internship at [Sandia National Labs][Sandia].
I've also been a member of the [Missouri National Guard][mong] for the last
11 years. I was enlisted as an [Information Systems Specialist][25B] and
[Military Police Specialist (MP)][31B] for the first 10 years, and am now a 
commissioned officer in the [Signal Corps][sc].

While most of my military career has been in reserve status, I served
18 months active duty as an MP in 2004-2005 and about a year as a network
engineer for the Missouri National Guard Headquarters.

[Sandia]: http://www.sandia.gov
[mong]: http://www.moguard.com
[25B]: http://www.goarmy.com/careers-and-jobs/browse-career-and-job-categories/computers-and-technology/information-technology-specialist.html
[31B]: http://www.goarmy.com/careers-and-jobs/browse-career-and-job-categories/legal-and-law-enforcement/military-police.html
[sc]: http://www.goarmy.com/careers-and-jobs/browse-career-and-job-categories/computers-and-technology/signal-officer.html



## Contact Me

If you'd like to get in touch with me, you can use any method you like.

My **email address** is: <derek.ditch@gmail.com>
My **Jabber account** is the same

You can also find me on [Twitter][], [GitHub][], or [FreeNode][].

[Twitter]: http://twitter.com/dcode/
[GitHub]: http://github.com/dcode/
[FreeNode]: http://freenode.net/

{% endblock %}
