{% extends "_post.j2" %}

{% block admonition %}{{ block.super }}

<div class="note admonition archive">
    <p class="admonition-title">This post was imported from a blog archive.</p>
    <p> As such, it may contain references to pages which no longer exist. 
    Currently, all images and most links have also been stripped. If
    you have questions regarding the content of this post, please contact the 
    site's author.</p>
</div>
{% endblock %}
