{% extends "_flatpage.html" %}

{% hyde
    title: "Formidability"
    created: 2004-09-07 20:06:00
    exclude: False
%}

{% block content %}

{% filter typogrify %}
{% markdown %}

Formidability
---------------------

Love is a fortress that lasts throughout the ages.
It can never be conquered, nor destroyed.

Throughout life, we spend time swearing allegiance to many kingdoms and empires;
we strive to be the best we can to further our nations' greatness and strength.
These kingdoms continually shape the many facets of our lives,
as they battle for our attention and devotion.

At the end of the day, when the sun sets,
all of these courts are empty;
all work halts and we as individuals are forgotten.
All of the castles crumble to ruins, only to be studied in all their greatness
the next day.
All kingdoms fall, with only one exception:
The fortress of Love.

Love always remembers and welcomes us home;
Love provides the fire to keep us warm;
it will fill any void and bring its radient light.
At the end of it all, only love provides the comfort and security we seek.

Life is filled with a variety of experiences and interests,
"But the greatest of these is love".

{% endmarkdown %}
{% endfilter %}

{% endblock %}
