{% extends "_flatpage.html" %}

{% hyde
    title: "The Fortress"
    created: 2004-09-07 20:06:00
    exclude: False
%}

{% block content %}

{% filter typogrify %}
{% markdown %}
The Fortress
------------------

In this world of confusion, I am faced with decisions,
Decisions regarding my friends, my allies.
I turn to them for advice, for help
But it only leads to more problems.

I admire the way that my love is open with me,
Everyday I wish to be more like her,
To tell her how I feel deep inside of my impenetrable fortress,
Occasionally she will see through my disguise,
But I quickly fortify my position.
Why do I hide from her?
She is simply revealing my true self
But I do not allow it.

I turn to old friends in my distress,
But they do not hear my pleas.
People that I once thought to be my reserve forces
Are having their own battles.
They no longer listen to me, they ignore me
Until they realize just what they have done
Then they will lie, they lie to make me happy
But I see their advances, I know their tricks.

I quickly turn to another distant friend
Who in the past swapped war techniques with me.
It has been so long though...can she still help?
Can she still confide in me and I in her?
We speak yet there is an uneasy tension, a feeling of distrust.
She is now unsure as to who I am.
We are not the same as we once were.

So now more and more conflicts arise
To solve thse problems, I must now infiltrate my own fortress.
I must commit treason against myself.
I will destroy my walls and be left for enemy attack.
Only then will I be able to communicate with my enemies.
Only by losing, can I win.

-Derek Paul Ditch  
1999 March 10 (edited 2004 October 18)  
*NOTE*: Edits were only grammatical.

{% endmarkdown %}
{% endfilter %}

{% endblock %}
